#04_Loop_◇◇_BirthdayParadox

In [ ]:
p = float(input())
k = 1
t = 1
t = (t*(365-(k-1)))/(365)
while True:
  t = (t*(365-(k-1)))/(365)
  if (1-t) >= p:
    break
  k+=1
print(k)

0.7
30

#04_Loop_◇◇_Partition

In [ ]:
d = [int(e) for e in input().split()]
p = d[-1]
i = -1
j = 0
n = len(d)
while j < (n-1):
  if d[j] <= p:
    i+=1
    d[i],d[j] = d[j],d[i]
  j+=1
d[i+1],d[-1] = d[-1],d[i+1]
print(d)

9 2 7 1 6 8 4 5
[2, 1, 4, 5, 6, 8, 7, 9]

#04_Loop_★_Average

In [ ]:
sum = 0
i = 0
while True:
  a = input()
  if a == "q":
    break
  else:
    sum += float(a)
  i+=1
if sum == 0:
  print("No Data")
else:
  print(round(sum/i,2))

39.59
9.89
42.09
18.44
41.18
24.95
1.55
q
25.38
177.69

#04_Loop_★_Bisection_Log10

In [ ]:
a = float(input())
L = 0
U = a
epsilon = 1e-10*a
x = (U+L)/2
while abs(10**x - a) > epsilon:
  if 10**x > a:
    U = x
  else:
    L = x
  x = (L+U)/2

print(round(x,6))

500.0
2.69897

#04_Loop_★_MCQ

In [ ]:
correct = input()
answer = input()
score = 0
if len(correct) != len(answer):
  print("Incomplete answer")
else:
  for i in range(len(correct)):
    if correct[i] == answer[i]:
      score+=1
  print(score)

AABBCCDDEE
ABA BC CED
3

#04_Loop_★_Parentheses

In [ ]:
text = input()
output = ''
for i in range(len(text)):
  if text[i] == '(':
    output+='['
  elif text[i] == ')':
    output+=']'
  elif text[i] == '[':
    output+='('
  elif text[i] == ']':
    output+=')'
  else:
    output+=text[i]
print(output)

[[a + (b + [c / d] – e) + f] + 4]
((a + [b + (c / d) – e] + f) + 4)

#04_Loop_★_CountWord

In [ ]:
keyword = input()
sentence = input()
cleaned = ''
occur = 0
for i in sentence:
  if 'a' <= i <= 'z' or 'A' <= i <= 'Z':
    cleaned += i
  else:
    cleaned += ' '
sen = cleaned.split()
for word in sen:
  if keyword == word:
    occur+= 1
print(occur)

ABC
("ABC aABC AABC ABCAB CABC d ABC k abc ABC" kjdk abc asd 'ABC ajdsABCkjas  ABC' ABC abc ABC ABC ABC ABCABC...ABC
10
  ABC aABC AABC ABCAB CABC d ABC k abc ABC  kjdk abc asd  ABC ajdsABCkjas  ABC  ABC abc ABC ABC ABC ABCABC   ABC

#04_Loop_★_PrintTriangle

In [ ]:
h = int(input())
for i in range(1,h+1):
  for j in range(1, 2*h):
    if j == h-i+1 or j == h+i-1 or i == h:
      print('*',end='')
    else:
        print(' ',end='')
  print()

3
  *
 * *
*****

#04_Loop_★★_Bisection_Log10_2

In [ ]:
a = float(input())
L = 0
U = 0
b = a
x = (L+U)/2

while (b) > 0:
  U += 1
  b = b//10

print(U)
while abs(10**x - a) > 10**(-10)*max(a,x):
  if 10**x > a:
    U = x
  else:
    L = x
  x = (L+U)/2

print(round(x,6))

123456
6
5.091512

#04_Loop_★★_RLE

In [ ]:
text = input()
L = ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z']
count = 0
output = ''
for i in range(len(text)):
  for j in range(len(L)):
    if text[i] == L[j]:
      count+=1
      if i+1 <= len(text)-1:
        if text[i] != text[i+1] and count != 0:
          output += text[i]
          output += ' '
          output += str(count)
          output += ' '
          count = 0
      elif count != 0:
        output += text[i]
        output += ' '
        output += str(count)
        count = 0
print(output)

AABBAA
A 2 B 2 A 2

#04_Loop_★★_ZigZag_1

In [ ]:
num = int(input())
set_1 = ''
set_2 = ''
for i in range(num):
  a = input().split()
  if i != num - 1:
    set_1 += a[0] + ','
    set_2 += a[1] + ','
  else:
    set_1 += a[0]
    set_2 += a[1]

set_1 = set_1.split(',')
set_2 = set_2.split(',')

for n in range(len(set_1)):
  set_1[n] = int(set_1[n])
  set_2[n] = int(set_2[n])

mode = input()
if mode == "Zig-Zag":
  min = set_1[0]
  max = set_2[0]
  for i in range(len(set_1)):
    if i%2 == 0:
      if set_1[i] < min:
        min = set_1[i]
      if set_2[i] > max:
        max = set_2[i]
    else:
      if set_2[i] < min:
        min = set_2[i]
      if set_1[i] > max:
        max = set_1[i]
elif mode == "Zag-Zig":
  min = set_2[0]
  max = set_1[0]
  for i in range(len(set_1)):
    if i%2 == 0:
      if set_2[i] < min:
        min = set_2[i]
      if set_1[i] > max:
        max = set_1[i]
    else:
      if set_1[i] < min:
        min = set_1[i]
      if set_2[i] > max:
        max = set_2[i]

print(min, max)

3
-10 10
20 -20
-30 30
Zag-Zig
10 -10


04_Loop_★★_Max_2ndMax

In [3]:
exec(input().strip()) # your first line must be this command. Grader Error some how
n = int(input())
s = ''
ss = ''
for i in range(n):
  a = int(input())
  if i != n - 1:
    s += str(a) + ","
    ss += str(a) + ","
  else:
    s += str(a)
    ss += str(a)

s = s.split(',')
for i in range(len(s)):
  s[i] = int(s[i])

m = s[0]
for i in range(len(s)):
  if s[i] > m:
    m = s[i]
ss = ss.replace(str(m)+",",'',1)
ss = ss.split(',')
for i in range(len(ss)):
  ss[i] = int(ss[i])
sm = ss[0]
for i in range(len(ss)):
  if ss[i] > sm:
    sm = ss[i]

print(m, sm)

None
6
11
11
22
22
33
33
33 33

#04_Loop_★★★_ZigZag_2

In [1]:
set_1 = ''
set_2 = ''
mode = ''
while True:
  a = input()
  if a == "Zig-Zag" or a == "Zag-Zig":
    mode = a
    break
  a = a.split()
  set_1 += a[0] + ','
  set_2 += a[1] + ','

set_1 = set_1.split(',')
set_2 = set_2.split(',')

for n in range(len(set_1)):
  if n != len(set_1)-1:
    set_1[n] = int(set_1[n])
    set_2[n] = int(set_2[n])

if mode == "Zig-Zag":
  min = set_1[0]
  max = set_2[0]
  for i in range(len(set_1)):
    if i != len(set_1)-1:
      if i%2 == 0:
        if set_1[i] < min:
          min = set_1[i]
        if set_2[i] > max:
          max = set_2[i]
      else:
        if set_2[i] < min:
          min = set_2[i]
        if set_1[i] > max:
          max = set_1[i]
elif mode == "Zag-Zig":
  min = set_2[0]
  max = set_1[0]
  for i in range(len(set_1)):
    if i != len(set_1)-1:
      if i%2 == 0:
        if set_2[i] < min:
          min = set_2[i]
        if set_1[i] > max:
          max = set_1[i]
      else:
        if set_1[i] < min:
          min = set_1[i]
        if set_2[i] > max:
          max = set_2[i]

print(min, max)

49 -70
79 13
-47 -84
47 -91
-7 39
58 -30
67 -42
-70 50
1 92
-52 -51
Zag-Zig
-84 67